/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@charset "utf-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, button
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 추가 */
html{
	height:100%;
	font-size:10px;
}
body{
	position:relative;
	height:100%;
}
body *{
	box-sizing:border-box;
    color:#333;
    transition:all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a{text-decoration:none;}
ol{
    list-style: decimal;
    padding-left: 1.4rem;
    font-size: 1.6rem;
    line-height: 150%;
}
ul{
    list-style: inside;
    font-size: 1.6rem;
    line-height: 150%;
}
button{
    display:block;
    background:none;
    border:none;
    cursor:pointer;
}
button:focus{outline:none;}
.clear:after{
    display:block;
    content:'';
    clear:both;
}



.wrap{
    position:relative;
    overflow:hidden;
    min-height:100vh;
    background:#fff;
}
.mobile_menu{
    display:none;
    position:fixed;
    top:3.5rem;
    right:2rem;
    width:6rem;
    height:6rem;
    padding:1rem 1rem 0;
    background:#fff;
    border:solid 1px #eee;
}
.mobile_menu span{
    display:block;
    height:4px;
    margin-bottom:0.8rem;
    background:#2dc6a8;
}
.mobile_close {
    display:none;
    position: absolute;
    right:2rem;
    top:-2rem;
    width:4rem;
    height:8rem;
    opacity: 0.3;
}
.menu.active .mobile_close{display:block;}
.mobile_close:hover{opacity: 1;}
.mobile_close:before, .mobile_close:after {
    position: absolute;
    left: 2rem;
    content: '';
    height: 4rem;
    width: 2px;
    background-color: #333;
}
.mobile_close:before {transform: rotate(45deg);}
.mobile_close:after {transform: rotate(-45deg);}
.menu{
    float:left;
    width:20%;
    height:100%;
    min-height:100vh;
}
.menu h1{
    font-size: 2.4rem;
    font-weight: 900;
    text-align: center;
    padding:9rem 0 3rem;
    background: url('../images/airplane_192x.png') 50% 30% no-repeat;
    background-size: 6rem;
}
.category{padding:0 2rem;}
.category button{
    display:none;
    width: 100%;
    font-size: 1.8rem;
    letter-spacing: -1px;
    line-height: 150%;
    color: #aaa;
    text-align: right;
    padding: 1rem 1rem 1rem 0;
}
.category button:hover{color:#555;}
.category.active button{display:block;}
.category button:nth-of-type(2){border-top: solid 1px #ddd;}
.category button:last-child{padding:1rem 1rem 2rem 0;}
.category button.title{
    display:block;
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    border-top: solid 1px #aaa;
    padding: 1rem 2rem;
    text-align: center;
}

.contents{
    float:right;
    width:80%;
    min-height:100vh;
    padding: 4rem 2rem 3rem;
}
.con_top{
    padding:0 2rem;
    background: #fff;
}
.con_top p{
    font-size: 2rem;
    font-weight: 900;
    color: #aaa;
    line-height: 150%;
}
.con .light{font-weight:500;}
.con_top p.con_title{
    font-size: 2.6rem;
    color: #333;
}
.con{
    padding:0 2rem 3rem;
    background: #fff;
}
.con p{
    font-size: 1.6rem;
    color: #333;
    line-height: 150%;
}
.con p, .con li, .summary, .highlight{letter-spacing:-1px;}
.con article p span, .summary span{display: block;}
.con p.art_title{
    position: relative;
    font-size: 2rem;
    font-weight: 900;
    color: #2dc6a8;
    padding-top:3rem;
}
.con p.art_title.check:before{
    display: block;
    content: '';
    position: absolute;
    top: 24px;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: orangered;
    border-radius: 50%;
}
.con p.art_sub_title{
    font-size: 1.8rem;
    font-weight: 900;
    padding: 2rem 0 0.6rem;
}
.con .highlight{
    font-weight:900;
    color:#555;
    padding:1rem 2rem;
    margin: 0.5rem 0;
    background: #fffbc2;
}
.con div.highlight{font-weight:500;}
.con img{
    display: block;
    max-width: 500px;
    margin: 40px auto;
}
.summary{
    font-size: 1.6rem;
    font-weight: 900;
    color: #555;
    line-height: 150%;
    padding: 1.2rem 2rem;
    margin: 1rem 0;
    background: #efefef;
}
.highlight{
    font-size: 1.6rem;
    font-weight: 900;
    color: #555;
    line-height: 150%;
}
.con div.summary{font-weight:500;}
.con .caption{
    font-weight:900;
}
.con span.caption{display:inline-block;}
.con span.caption.block{display:block;}
.pd_t{padding-top:2rem;}
.hide_btn{
    display: inline-block;
    padding: 1rem 2rem;
    margin: 1rem 0 0.5rem;
    background: #fbfbf8;
    border: solid 2px #bbb38e;
}
.hide_btn:hover{background:#f9f9d5;}
.hide_box{
    display:none;
    padding: 1px 1.5rem 1rem;
    background: #ccc;
}
.hide_box.active{display:block;}
.hide_box.grammar1_box{padding: 1rem 1.5rem 1rem;}
code{
    display:block;
    font-size:1.4rem;
    color:#fff;
    line-height:150%;
    margin:1rem 0;
    border-radius:0.4rem;
    background:#333;
    word-wrap:break-word;
    word-break:keep-all;
    white-space:pre-wrap;
}
code .comment{color:#008e00; display:inline;}
code .variable{color:#47c1f2; display:inline;}
code .function{color:#ee47d1; display:inline;}
code .out{color:red; display:inline;}
.con span.feature{
    word-wrap:break-word;
    word-break:keep-all;
    white-space:pre-wrap;
}


@media screen and (max-width:1000px){
    html{font-size:9px;}
    /* .category{padding:1rem 0 1rem 2rem;} */
    .contents{padding:3.5rem 0 3rem;}
}
@media screen and (max-width:800px){
    .menu{
        float: none;
        position: fixed;
        top: 0;
        right: -50%;
        overflow-y:scroll;
        width: 50%;
        padding-bottom:6rem;
        background: #fff;
        border-right: solid 1px #efefef;
        -ms-overflow-style:none;
    }
    .menu::-webkit-scrollbar{display:none;}
    .menu.active{right:0;}
    .menu > div{background:#fff;}
    .mobile_menu{display:block;}
    .contents{width:100%;}
}
@media screen and (max-width:500px){
    .menu{
        right:-70%;
        width:70%;
    }
    .mobile_menu{top:2.5rem;}
}
@media screen and (max-width:380px){
    .menu{
        right:-80%;
        width:80%;
    }
}